.about-section {
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  background-color: #fff;
}

.container {
  max-width: 950px;
  text-align: center;
}

.title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #101010;
}

.description {
  font-size: 18px;
  line-height: 1.7;
  color: #4430d8;
  padding: 0 10px;
}
