<section id="mission" class="mission-section">
  <div class="mission-content">
    <div class="mission-text">
      <h2><span class="icon"></span> Our Mission</h2>
      <p>
        Our mission is to revolutionize cervical cancer prevention and education
        by providing accessible, high-quality learning resources to women across
        Africa. We aim to reduce cancer incidence through early awareness,
        prevention education, and community engagement—all while rewarding 
        learners for taking control of their health.
      </p>
    </div>

    <div class="mission-image-container">
      <img
        src="assets/WhatsApp Image 2025-12-02 at 3.48.13 PM.jpeg"
        alt="Women's Health Empowerment"
        class="mission-image"
      />
    </div>
  </div>
</section>
<app-vision></app-vision>